@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 120 10% 96%;
    --foreground: 120 5% 15%;
    --card: 120 10% 96%;
    --card-foreground: 120 5% 15%;
    --popover: 120 10% 96%;
    --popover-foreground: 120 5% 15%;
    --primary: 140 70% 40%;
    --primary-foreground: 140 70% 98%;
    --secondary: 130 30% 92%;
    --secondary-foreground: 130 30% 10%;
    --muted: 130 20% 95%;
    --muted-foreground: 130 10% 45%;
    --accent: 140 60% 65%;
    --accent-foreground: 140 60% 5%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 130 20% 88%;
    --input: 130 20% 88%;
    --ring: 140 70% 40%;
    --chart-1: 140 70% 40%;
    --chart-2: 140 60% 65%;
    --chart-3: 130 50% 55%;
    --chart-4: 120 40% 50%;
    --chart-5: 110 30% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 120 10% 5%;
    --foreground: 120 5% 95%;
    --card: 120 10% 5%;
    --card-foreground: 120 5% 95%;
    --popover: 120 10% 5%;
    --popover-foreground: 120 5% 95%;
    --primary: 140 70% 45%;
    --primary-foreground: 140 70% 98%;
    --secondary: 140 30% 10%;
    --secondary-foreground: 140 30% 95%;
    --muted: 140 20% 12%;
    --muted-foreground: 140 5% 65%;
    --accent: 140 60% 65%;
    --accent-foreground: 140 60% 5%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 20% 15%;
    --input: 140 20% 15%;
    --ring: 140 70% 45%;
    --chart-1: 140 70% 45%;
    --chart-2: 140 60% 65%;
    --chart-3: 130 50% 55%;
    --chart-4: 120 40% 50%;
    --chart-5: 110 30% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .dark body {
    @apply bg-background text-foreground;
  }

  .animate-fade-in-up {
    animation-fill-mode: forwards;
    opacity: 0;
    animation-name: fade-in-up;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }
}
